---

- name: NFTables | Check | Checking kernel module
  community.general.modprobe:
    name: 'nf_tables'
    state: present
  check_mode: true

- name: NFTables | Check | Checking kernel module for sets
  community.general.modprobe:
    name: 'nf_tables_set'
    state: present
  check_mode: true
  when: NFT_CONFIG.enable.sets

- name: NFTables | Check | Kernel config
  ansible.builtin.import_tasks: check_debian_kernel_config.yml
  when: >
    ansible_virtualization_role is undefined or
    ansible_virtualization_role != 'guest' or
    'docker' not in ansible_virtualization_tech_guest
