#!/usr/sbin/nft -f

table {{ nft_table.type }} {{ nft_table_name }} {
{% include "_includes/definition_table.j2" %}

{% for chain_name, chain_item in nft_table.chains.items() %}
{%   set chain = defaults_chain | combine(nftables.defaults.chain | default({}), recursive=true) | combine(chain_item, recursive=true) %}
{%   set chain_main = chain.hook is not none %}
{%   set chain_rules = chain.rules | nftables_merge_sort_translate_rules(NFT_CONFIG, nft_table, chain_name, NFT_HC) %}
  chain {{ chain_name }} {
{% if chain_main %}
    type {{ chain.type }} hook {{ chain.hook }} priority {{ chain.priority }}; policy {{ chain.policy }};
{% endif %}
{%   include "_includes/definition_chain.j2" %}

{%   if chain_rules | length > 0 %}

    # rules
{%     for rule in chain_rules %}
    {{ rule }}
{%     endfor %}
{%   endif %}

{%   if chain.counter %}
    counter comment "COUNT {{ nft_table_name }}-{{ chain_name }}{% if chain_main %}-{{ chain.policy }}{% endif %}"
{%   endif %}
{%   if chain_main and chain.log.drop and chain.policy == 'drop' %}
    log prefix "DROP {{ nft_table_name }}-{% if chain.log.prefix %}{{ chain.log.prefix }}{% else %}{{ chain_name }}{% endif %} "
{%   endif %}
  }

{% endfor %}
}

